body{ background-color: #090C08; overflow-x: hidden; }

h1, h2, h3, h4, h5, h6, p, ul, li { color: #F4FFF8; }

h1, h2, h3, h4, h5, h6 { text-transform: uppercase; margin:0 auto; }

hr{ border-top: 1px solid #F06449; }

.footer-class{ margin-top: 30px; }

.footer-text{ background-color: #F06449; padding-top: 2px; padding-bottom: 2px; text-shadow: 1px 1px 3px black; }

.row-extended{ display: flex; flex-direction: row; flex-wrap: wrap; }

.img-example{ padding-left: 10px; padding-right: 10px; width: 100%; height: auto; border-radius: 32px; margin-top: 50px; }

div.menu-premiere-page-container{
    background-color: #F06449;
}